*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.social-media{
    background-color: #373B44;
   
}
.header{
    display: flex;
    color: aliceblue;
   
}
.linkmedia{
    width: 100%;
    height: 30px;
  
}
.container{
 width: 80%;
   
    margin: auto;
}
a{
    text-decoration: none;
    
}
.firstul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul li{
    list-style: none;
    padding-right: 20px;
 text-transform: uppercase; 
 padding: 10px;  
}
.navbar-link a{
color:white;

}
.linkmedia li a{
background-color: #6c6e71;
color: #474b53;
font-size: 10px;
margin-bottom: 5px;

}
li a:hover{
    background-color: #FF7361;
    padding: 10px 2px;
    border-bottom: 1px solid #FF7361;
}
.wraper{
    background-color:#2c3036 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
ul li{
    list-style: none;
    padding-right: 20px;
 text-transform: uppercase; 
 padding: 10px;  
}
.contain{
    background-color:  #FF7361;
   padding: 10px 50px;

 
}
.d-flex{
    display: flex;
    align-items: center;
   
}
.flex-direcation{
    flex-direction: column;
    justify-items: center;
    flex-wrap: nowrap;
}
.container1{
    width: 80%;
    margin: auto;
}
.ouramazing{
    text-align: center;
    background-color: #F2F4F1;
padding: 10px;
margin-bottom: 50px;

}
.ouramazing h2{
color: rgb(113, 107, 107);
text-transform: capitalize;
}
.ouramazing p{
    color: #7e8084;
}
.trialplan{
    border: 1px solid rgb(217, 214, 214);
      margin-right: 40px;
 
}
.trialplan h2{
    color:#23252B;
    text-align: center;
}
.trialplan:hover{
    background-color: #FF7361;
    color: #F2F4F1;
    transform: scale(1.2);
}
li{
    text-align: center;
}
.trialplan h2:nth-child(even){
    color: #FF7361;
    background-color: rgb(243, 243, 243);
}
/* .3?ray{
    
  */
 
.smallplan{
    text-align: center;
     border: 1px solid rgb(217, 214, 214);
   margin-right: 50px;
   /* padding-right: 3.125rem; */
   
}
.smallplan:hover{
     background-color: #FF7361;
    color: #F2F4F1;
    transform: scale(1.2);
}
.bigplan{
    text-align: center;
     border: 1px solid rgb(217, 214, 214);
      margin-right: 10PX;
 
}
.bigplan:hover{
     background-color: #FF7361;
    color: #F2F4F1;
    transform: scale(1.2);
}
.active{
    background-color: #FF7361;
    padding: 10px 2px;
    border-bottom: 1px solid #FF7361;
}
.smallplan h2:nth-child(even){
    color: #FF7361;
     background-color: rgb(243, 243, 243);
}
.bigplan h2:nth-child(even){
    color: #FF7361;
    background-color: rgb(243, 243, 243);
}
.flex-wrap{
    flex-wrap: wrap;
}
.ul li{
    border-bottom: 1px solid rgb(216, 213, 213);
}
.buy{
    background-color: #26292F;
    color: #F2F4F1;
}
.flex-direcation p{
    border-bottom:  1px solid #bdbfc2;
    padding-bottom: 10px;
}

 
.icon li i{color: #FF7361;}
.list{
 
    border-bottom: 1px solid #7e8084;
}
.flex-start{
    justify-items: flex-end;
    justify-content: flex-end;
align-items: flex-end;
margin-left: 700px;
    
}
/* style of footer */
.footer{
background-color: #5b5a5a;

}
.list  li a {
    color:#6c6e71;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}
.justify-content{
    align-items: center;
   justify-content: center;

}
/* end of footer */